.flav_sel section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}#flav1_pic{
    border: 2px solid #fff;
    margin-left: 8px;
}.flav_sel_pic_class{
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: -1;
}#flav_sel_name{
   width: auto;
   height: 80px;
   color: #fff;
   font-weight: 800; 
   margin-top: 210px;
   background-color: rgba(0,0,0,.6);
}#the_flav_sel{
   width: 300px;
   height: 250px;
   border: 2px solid #c8060c;
}#the_header_sel_flav{
   margin-top: -30px;
}#flav_sel_placement{
   margin-top: -15px;
   margin-left: -100px;
}.flav_sel_sel_pic_class {
   float: left;
   width: 250px;
   height: 200px;
   background-color: #fff;
   border: 2px solid #c8060c;
}#the_flav_sel_sel{
   width: 700px;
   background-color: #fff;
   height: 250px;
 }#flav_sel_sel_placement{
   margin-top: -120px;
   margin-left: -100px;
   width: auto;
   height: 220px;
 }#sel_btn4,#info_btn4{
   margin-left: 5px;
   margin-top: 10px;
   position: absolute;
   height: 80px;
   background-color: #FF7C00;
}#flav_div{
   float: left;
}#flav_p{
   position: absolute;
   color: #fff;
   font-weight: 700;
   height: 35px;
   background-color: rgba(0,0,0,.6);
   width: 81px;
   margin-left: 10px;
   margin-top: 47px;
   font-size: 12px;
}#sel_btn4{
    margin-left: 125px;
}