.all_products section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#all_info1 {
    width: 400px;
    height: 400px;
    border: 3px solid gold;
}

    #all_info1 img {
        width: 400px;
        height: 400px;
        position: absolute;
        z-index: -1;
    }

    #all_info1 h2 {
        background-color: rgba(0,0,0,.6);
        color: #fff;
        width: 400px;
        font-weight: bold;
        margin-top: 310px;
        padding-left: 10px;
        height: 70px;
    }

#all_info_placement {
    margin-left: -90px;
}

#all_products_header {
    margin-top: -30px;
}
