#zoomedOutListView .win-surface {
    margin-left: 120px;
}

#zoomedOutListView .win-item {
    height: 500px;
    width: 250px;         
}

#zoomedOutListView .win-container {
    margin-right:30px;
} 

.zoomedOutItemContainer {
    min-height: 500px;
    height: 100%;
    width: 250px;
    display: -ms-grid;
   
    -ms-grid-rows: 1fr 130px 400px 1fr;
    -ms-grid-columns: 1fr;
}

.zoomeOutItemImage {
    -ms-grid-row-span: 4;
}

.zoomedOutGroupImage {
    -ms-grid-row: 3;
}

.zoomedOutItemCount {
    -ms-grid-row: 2;
    -ms-grid-column-align: end;
    font-size: 80px;
    color: rgb(250, 243, 214);
    margin: -7px 12px 0px 20px;
    font-weight: 100;
}

.zoomedOutGroupTitle {
    -ms-grid-row: 2;
    font-size: 32px;
    color: rgb(250, 243, 214);
    margin: 7px 0px 0px 16px;
    font-weight: 200;
}

.boostpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

.boostpage .boostlist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
    .boostpage .boostlist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 45px;
        margin-right: 115px;
        margin-top: 128px;
    }

    .boostpage .boostlist .win-groupheader {
        padding: 0;
    }

    /* Use grid and top level layout for truncation */
    .boostpage .boostlist .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }

    /* Override default button styles */
    .boostpage .boostlist .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        min-height: 0;
        padding: 0;
    }

        .boostpage .boostlist .group-header .group-title {
            display: inline-block;
        }

        .boostpage .boostlist .group-header .group-chevron {
            -ms-grid-column: 3;
            display: inline-block;
        }

            .boostpage .boostlist .group-header .group-chevron::before {
                content: "\E26B";
                font-family: 'Segoe UI Symbol';
            }

    .boostpage .boostlist .item {
       -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 48px;
    display: -ms-grid;
    height: 240px;
    width: 320px;

    }

        .boostpage .boostlist .item .item-image {
            -ms-grid-row-span: 2;
        }

        .boostpage .boostlist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 1px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .boostpage .boostlist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .boostpage .boostlist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .boostpage .boostlist .item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .boostpage .boostlist .item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .boostpage .boostlist .item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .boostpage .boostlist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .boostpage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .boostpage .boostlist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .boostpage .boostlist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
        padding: 7px;
    }

    .boostpage .boostlist .item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }




        .boostpage .boostlist .item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .boostpage .boostlist .item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .boostpage .boostlist .item .item-overlay .item-title {
                margin-top: 4px;
                max-height: 40px;
                width: 202px;
            }

            .boostpage .boostlist .item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .boostpage .boostlist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
    }
}
