.flavor section[role=main] {
   margin-left: 120px;
   margin-right: 120px;
}.flav_pic_class{
   width: 300px;
   height: 250px;
   position: absolute;
   z-index: -1;
}.the_flavors{
   width: 300px;
   height: 250px;
   border: 2px solid #c8060c;
}.flav_name_class{
   width: auto;
   height: 40px;
   color: #fff;
   font-weight: 800; 
   margin-top: 210px;
   background-color: rgba(0,0,0,.6);
}#base_pic_footer{
   border: 2px solid #fff;
   margin-left: 8px;
}#flavor_header{
   margin-top: -30px;
}#flavor_placement{
   margin-top: -15px;
   margin-left: -100px;
}#choosen_flav_pic{
   float: left;
   width: 250px;
   height: 200px;
   background-color: #fff;
   border: 2px solid #c8060c;
   margin-right: 10px;
}#choosen_flav_placement{
   margin-top: -130px;
   margin-left: -100px;
   width: auto;
   height: 210px;
}.the_choosen_flav{
   width: 700px;
   background-color: #fff;
   height: 250px;
   margin-top: -15px;
}#base_div{
   float: left;
}#base_p{
   position: absolute;
   color: #fff;
   font-weight: 700;
   height: 35px;
   background-color: rgba(0,0,0,.6);
   width: 81px;
   margin-left: 10px;
   margin-top: 47px;
   font-size: 12px;
}#sel_btn9{
   margin-left: 5px;
   margin-top: 10px;
   position: absolute;
   background-color: #FF7C00;
   height:60px;
}