.sport_info section[role=main] {
    margin-left: 20px;
    margin-right: 20px;
}

#sport_info_pic {
    width: 300px;
    height: auto;
    border: 3px solid;
    float: left;
}

#sport_info_pic2 {
    width: 300px;
    height: auto;
    border: 3px solid;
    float: left;
    clear: both;
}

.sport_info_pic_class {
    margin-top: 48px;
    margin-left: 20px;
}


#sport_info_placement {
    height: auto;
}

#sport_info_label {
    float: left;
    clear: both;
    width: 300px;
}

#sport_info_info {  
}
#sport_info_info2 {
    font-style: italic; 
}
#sport_info_info3 {
}
#sport_info_info4 {
    font-style: italic; 
}
#sport_info_info6 {
    font-style: italic; 
}
#sport_info_info7 {
    font-style: italic; 
}

.sport_info_info_class2 {
    margin-left: 70px;
    font-size: 12px;
    /*text-align: justify;*/
    margin-top: 10px;
    line-height: 25px;
    text-indent: 30px;
    /*width: 1000px;*/
    font-weight: 500;
}

.sport_info_info_class {
    margin-left: 10px;
    font-size: 12px;
    /*text-align: justify;*/
    margin-top: 10px;
    line-height: 25px;
    text-indent: 30px;
    /*width: 1000px;*/
    font-weight: 500;
}

#sport_info_placement {
    margin-left: -90px;
}

#sport_info_header {
    margin-top: -30px;
}

#sport_template_placement {
    /*width: 710px;*/
    /*height: 530px;*/
}

.link_wrap {
    width: 520px;
    float: right;
}

#link_webview {
    /*float: left;
    font-size: large;
    background-color: #ff7c00;
    border: .2em solid #808080;
    padding: 5px;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
    margin-bottom: 10px;*/
}

.link_webview_class {
    font-size: large;
    margin-left: 20px;
}

.links {
    width: 500px;
    height: 515px;
    margin-left: 20px;
    float: left;
}

.sport_content_heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

#sport_content_colums {
    float: left;
    width: 550px;
}

#sport_content_colums2 {
    float: left;
}

#sport_info_banner {
    width: 876px;
    background-color: black;
    float: left;
    height: 45px;
}

    #sport_info_banner ul {
        list-style: none;
        color: white;
        padding: 5px;
        float: right;
        margin: 0;
        font-size: 12px;
    }

/*Milo: for printing*/
#win_listview_host .win-listview  {
    width: 960px;
    height: 500px;
    /*border: 2px solid pink;*/
}

#win_listview_host .win-viewport {
    width: 950px;
    height: 490px;
    overflow-y: scroll;
    /*border: 2px solid green;*/
}

/*#win_listview_host .win-surface {
    width: 310px;
    height: 400px;
    border: 2px solid blue;

}*/

#sport_info2 {
    width: 900px;
    /*height: 500px;
    overflow-y: scroll;*/
}
