body {
}

.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#home_content {
    margin-left: 10px;
    color: #000;
    font-size: 30px;
    /*margin-top: -100px;*/
    width: 100%;
}

.age_bg {
    position: absolute;
    width: 300px;
    height: 289px;
    margin-top: 0px;
    z-index: -1;
}

#age_display {
    width: 300px;
    height: 289px;
    border: 3px solid #c8060c;
}

#user_age {
    width: 280px;
    background-color: rgba(0,0,0,.6);
    margin-left: 0px;
    height: 24px;
    margin-top: 244.5px;
    color: #fff;
    font-size: 50px;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}

#info_display {
    width: 800px;
    height: 540px;
    margin-top: -200px;
    background-color: #000;
    border-top: 1px solid rgba(194, 191, 191, 0.54);
}

#info_text {
    width: 500px;
    height: 40px;
    color: #000;
    font-weight: 500;
    margin-left: 210px;
}

.info_pic {
    float: left;
    width: 200px;
    height: auto;
    background-color: #fff;
    border: 2px solid #c8060c;
}

#info_template_placement {
    margin-top: -90px;
    width: 710px;
    height: 220px;
}

#age_info_template {
    background-color: #fff;
    border: 2px solid #c8060c;
}

#info_btn {
    height: 60px;
    margin-top: 128px;
    position: absolute;
    margin-left: 208px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_btn {
    /*margin-left: 5px;*/
    margin-top: 128px;
    position: absolute;
    background-color: #FF7C00;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_age_name {
    margin-bottom: 0;
    font-weight: bold;
    padding-left: 100px;
}

#info_text {
    font-size: 14px;
}

#sel_age_pic {
    margin-right: 10px;
}

/*Do not ever use this its a class, use only CURRENTLY in default.css*/
/*.win-listview > .win-viewport.win-horizontal {
    overflow-x: hidden;
}*/
/*Milo this actually works to fix glictch when too many products are hit at the same time, it DOES NOT SHOW UP IN THE CSS DOM eXPLORER DUNNO WHY BUT IT WORKS!!*/
#info_template_placement .win-viewport {
    overflow-x: hidden;
}

#home_header {
    margin-top: -30px;
}

#age_template_placement {
    margin-top: -15px;
}